export(rxSlider)
S3method("$",xslider)
S3method("$<-",xslider)
S3method("[",xslider)
S3method("[<-",xslider)
S3method("$",xslider_style)
S3method("$<-",xslider_style)
S3method("[",xslider_style)
S3method("[<-",xslider_style)
S3method(print,xslider)
S3method(print,xslider_style)
importFrom("methods", "is")
import(Rcpp)
import(JuniperKernel)
useDynLib("jkwidgets", .registration=TRUE)
