export(xslider)
S3method("$",xslider)
S3method("$<-",xslider)
S3method("[",xslider)
S3method("[<-",xslider)
S3method(print,xslider)
importFrom("methods", "is")
import(Rcpp)
import(JuniperKernel)
useDynLib("jkwidgets", .registration=TRUE)
